<p style="color: green"><%= notice %></p>

<%= render @login_signup %>

<div>
  <%= link_to "Edit this login signup", edit_login_signup_path(@login_signup) %> |
  <%= link_to "Back to login signups", login_signups_path %>

  <%= button_to "Destroy this login signup", @login_signup, method: :delete %>
</div>
